<div class="col-12">
  <h4>Welcome</h4>
  <p>If you can talk with crowds and keep your virtue, Or walk with Kings—nor lose the common touch,If neither foes nor loving friends can hurt you,
    If all men count with you, but none too much;
</p>
</div>

<div class="col-12">
  <ul class="social-list list-inline">
    <a href="#" class="fa fa-github-square"></a>
    <a href="#" class="fa fa-linkedin-square"></a>
    <a href="#" class="fa fa-medium"></a>
    <a href="#" class="fa fa-facebook-square"></a>
    <a href="#" class="fa fa-twitter-square"></a>
</ul>


</div>
